* {
  box-sizing: border-box;
}
p {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #5d67ce 50%, #ae6eb4);
  color: #fff;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  width: 100%;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn--violet {
  background-color: #ae6eb4;
  color: #fff;
}

.btn--glass {
  background-color: #ae6eb443;
  color: #fff;
}

.btn--small {
font-size: 0.9rem;
}

.btn:hover {
  box-shadow: 0 0 5px #fff;
  cursor: pointer;
}

.input-group {
  margin-bottom: 1rem;
}

.todo-list {
  margin: 3rem 0;
  margin-inline: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #ccc;
  padding: 3rem;
  width: clamp(350px, 500px, 80vw);
}

.todo-list__add label {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 0.9rem;
}

.todo-list__task {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.128);
  backdrop-filter: opacity(0.3);

  border-radius: 5px;
  padding: 1rem 1rem;
}
.todo-list__task__actions button {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0.5em;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.todo-list__task__actions button:hover {
  text-shadow: 0 0 5px #fff;
  border-radius: 50%;
  background-color: #ae6eb4;
  cursor: pointer;
}

.todo-list__task__info {
  display: flex;
  flex: 2;
}
.todo-list__task__info input {
  flex: 1;
}
.todo-list__task__info div {
  flex: 5;
}
.todo-list__task__actions {
  display: flex;
  gap: 0.5rem;
}
.editing .todo-list__task__actions {
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  margin: 0.5rem 0;
  line-height: 2em;
  padding: 0.2em 1em;
  background-color: transparent;
  border: 1px #ccc solid;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
}

.crossed {
  text-decoration: line-through;
}
